/*
================================================================
RESPONSIVE: ANCHO MÁXIMO - 768px
================================================================
*/
@media (max-width: 768px) {

	/*Index*/
	.header-left,
	.header-right {
		display: none;
	}

	.hamburger-menu {
		display: block;
		position: relative;
		left: 90%;
	}

	.home .hamburger-icon {
		transform: scale(0.8);
	}

	.home.mobile-nav {
		right: 2rem;
		width: 50%;
		padding: 2rem;
	}

	.order-header .mobile-nav {
		top: 1rem;
	}

	.mobile-nav.open {
		height: auto;
	}

	.mobile-nav ul li a {
		font-size: 1.5rem;
		text-align: center;
	}

	.main {
		height: auto;
		padding-bottom: 5rem;
	}

	.btn {
		font-size: 1.2rem;
	}

	.main-title {
		font-size: 2rem;
	}

	.welcome {
		font-size: 1.5rem;
	}

	.phrase {
		font-size: 1.2rem;
	}

	/*Hacer Pedido*/
	.social-buttons {
		display: none;
	}

	.order-header .dropdown-menu {
		display: none;
	}

	.order-header .hamburger-menu {
		left: 0;
		top: -4px;
	}

	.logo-header,
	.search-header {
		display: none;
	}

	.banner-container {
		margin: 3rem;
	}

	.banner-container .banner-content h1 {
		font-size: 1.8rem;
	}

	.banner-container .banner-content p {
		font-size: 1.1rem;
	}

	.product-actions .filters-container {
		display: flex;
		flex-direction: column;
	}

	/*Contenedor filters*/

	.filters-row {
		display: flex;
		flex-direction: column;
	}

	
	/*Footer*/
	.site-footer {
		font-size: 1rem;
	}
}