/* === RESPONSIVE - MÓVILES === */

/* === ESTILOS PARA PANTALLA ENTRE 412px Y 768px === */

@media (min-width: 412px) and (max-width: 768px) {
	.mobile-nav {
		right: 4rem;
		width: 70%;
	}

	/* === TEXTOS === */

	.welcome {
		font-size: 2.2rem;
	}

	.main-title {
		font-size: 2.8rem;
	}

	.phrase {
		font-size: 2rem;
	}

	/* === BOTONES === */

	.main-buttons {
		flex-direction: column;
	}

	.btn {
		font-size: 2rem;
	}

	/* === FOOTER === */

	.site-footer {
		font-size: 1.2rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 674px === */

@media (max-width: 674px) {
	.mobile-nav {
		right: 3rem;
		width: 70%;
	}

	.welcome {
		font-size: 2rem;
	}

	.main-title {
		font-size: 2.5rem;
	}

	.phrase {
		font-size: 1.7rem;
	}

	.btn {
		font-size: 1.7rem;
	}

	.site-footer {
		font-size: 1rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 658px === */

@media (max-width: 658px) {
	.mobile-nav ul li a {
		font-size: 1.4rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 610px === */

@media (max-width: 610px) {

	.welcome {
		font-size: 1.8rem;
	}

	.main-title {
		font-size: 2.3rem;
	}

	.phrase {
		font-size: 1.5rem;
	}

	.btn {
		font-size: 1.5rem;
	}

	.site-footer {
		font-size: 1rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 567px === */

@media (max-width: 567px) {

	.welcome {
		font-size: 1.6rem;
	}

	.main-title {
		font-size: 2rem;
	}

	.phrase {
		font-size: 1.3rem;
	}

	.btn {
		font-size: 1.5rem;
	}

	.site-footer {
		font-size: 0.8rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 525px === */

@media (max-width: 525px) {
	.mobile-nav {
		display: none;
		position: absolute;
		top: 8rem;
		right: 2rem;
		width: 60%;
		padding: 2rem;
		z-index: 20;
	}

	.mobile-nav ul li a {
		font-size: 1rem;
	}

	.welcome {
		font-size: 1.3rem;
	}

	.main-title {
		font-size: 1.7rem;
	}

	.phrase {
		font-size: 1rem;
	}

	.btn {
		font-size: 1.4rem;
	}

	.site-footer {
		font-size: 0.7rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 436px === */

@media (max-width: 436px) {
	.mobile-nav ul li a {
		font-size: 0.8rem;
	}

	.welcome {
		font-size: 1.1rem;
	}

	.main-title {
		font-size: 1.4rem;
	}

	.phrase {
		font-size: 0.8rem;
	}

	.btn {
		font-size: 1.2rem;
	}

	.site-footer {
		font-size: 0.6rem;
	}
}

/* === ESTILOS PARA PANTALLA CON UN MÁXIMO DE 385px === */

@media (max-width: 385px) {
	.mobile-nav {
		right: 0.5rem;
		width: 60%;
		padding: 1rem;
	}

	.mobile-nav ul li a {
		font-size: 0.8rem;
		white-space: nowrap;
	}

	.main-title {
		font-size: 1.2rem;
	}

	.btn {
		font-size: 1rem;
	}

	.site-footer {
		font-size: 0.5rem;
	}
}

/* ==================
	HACER PEDIDOS 
================== */